<div class="header">
    <div class="logo">
        <img class="image" src="../../../assets/img/movie_mood_logo.png">
    </div>
</div>
<div class="content">
    <div class="left-container">
        <div class="slider-effectCoverflow">
            <swiper
                [effect]="'coverflow'"
                [allowSlideNext]="true"
                [spaceBetween]="20"
                [grabCursor]="true"
                [centeredSlides]="true"
                [slidesPerView]="'auto'"
                [coverflowEffect]="{
                    rotate: 20,
                    stretch: 20,
                    depth: 100,
                    modifier: 1,
                    slideShadows: false
                }"    
                [pagination]="true"
                [navigation]="true"
                class="mySwiper"
            >
                <ng-template swiperSlide><img src="../../../assets/img/poster/movie1.jpg"></ng-template>
                <ng-template swiperSlide><img src="../../../assets/img/poster/movie2.jpg"></ng-template>
                <ng-template swiperSlide><img src="../../../assets/img/poster/movie3.jpg"></ng-template>
                <ng-template swiperSlide><img src="../../../assets/img/poster/movie4.jpg"></ng-template>
                <ng-template swiperSlide><img src="../../../assets/img/poster/movie5.jpg"></ng-template>
            </swiper>
        </div>
    </div>
    <div class="right-container">
        <div class="right-content">
            <label class="title">Black Phone</label>
            <p class="description">
                Te llama Papá La película de Scott Derrickson, basada en el cuento de Joe Hill, nos aproxima a una visión de la infancia teñida
                de un crudo granate aportado por la innegable presencia de la violencia cotidiana ante la que solo se puede responder 
                madurando.
            </p>
            <div class="footer">
                <label class="details"><b>Elenco:</b> {{Elenco}}</label>
                <label class="details">Genéro:</label>
                <label class="details">Clasificación:</label>
            </div>
            <div class="button-container">
                <button class="button" type="submit">
                    <div class="button-label">Ver Ahora</div>
                </button>
                <button class="button-watch" type="submit">
                    <div class="button-label">Salir</div>
                </button>
            </div>
        </div>
    </div>
</div>