<div class="header">
    <div class="logo">
        <img class="image" src="../../../assets/img/movie_mood_logo.png">
    </div>
</div>
<div class="content">
    <div class="left-container">
        <div class="slider-effectCoverflow">
            <swiper
                [effect]="'coverflow'"
                [allowSlideNext]="true"
                [spaceBetween]="20"
                [grabCursor]="true"
                [centeredSlides]="true"
                [slidesPerView]="'auto'"
                [coverflowEffect]="{
                    rotate: 20,
                    stretch: 20,
                    depth: 100,
                    modifier: 1,
                    slideShadows: false
                }"    
                [pagination]="true"
                [navigation]="true"
                class="mySwiper"
            >
                <ng-template swiperSlide><img src="../../../assets/img/poster/movie1.jpg"></ng-template>
                <ng-template swiperSlide><img src="../../../assets/img/poster/movie2.jpg"></ng-template>
                <ng-template swiperSlide><img src="../../../assets/img/poster/movie3.jpg"></ng-template>
                <ng-template swiperSlide><img src="../../../assets/img/poster/movie4.jpg"></ng-template>
                <ng-template swiperSlide><img src="../../../assets/img/poster/movie5.jpg"></ng-template>
            </swiper>
        </div>
    </div>
    <div class="right-container">
        <p-fieldset legend="Black Phone">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </p-fieldset>
    </div>
</div>