<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="header">
    <div class="logo">
        <img class="image" src="../../../assets/img/movie_mood_logo.png">
    </div>
</div>
<div class="content">
    <div class="left-container">
        <div class="slider-effectCoverflow">
            <swiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange($event)" [effect]="'coverflow'"
                [allowSlideNext]="true" [spaceBetween]="20" [grabCursor]="true" [centeredSlides]="true"
                [slidesPerView]="'auto'" [coverflowEffect]="{
                    rotate: 20,
                    stretch: 20,
                    depth: 100,
                    modifier: 1,
                    slideShadows: false
                }" [pagination]="true" [navigation]="true" class="mySwiper">
                <ng-container *ngFor="let movie of movies">
                    <ng-template swiperSlide>
                        <img [src]="movie.thumbnail" alt="{{ movie.title }}">
                        
                    </ng-template>
                </ng-container>
            </swiper>
        </div>
    </div>
    <div class="right-container">
        <div [ngClass]="{'wipe-down': isChanged}" class="right-content">
            <ng-container *ngFor="let movie of movies">


                <label class="title">{{ movie.title }}</label>
                <p class="description">{{ movie.extract }}</p>
                <div class="footer">
                    <label class="details"><b>Year:</b> {{ movie.year }}</label>
                    <label class="details"><b>Genre:</b> {{ movie.genres.join(', ') }}</label>
                    <!-- Add more movie properties as needed -->
                </div>
                <div class="button-container">
                    <button class="button" type="submit">
                        <div class="button-label">Watch now</div>
                    </button>
                    <button class="button-watch" (click)="exit($event)">
                        <div class="button-label">Leave</div>
                    </button>
                </div>

            </ng-container>
        </div>
    </div>
</div>