.header {
    height: 10%;
    width: 100%;

    .logo {
        align-items: center;
        display: flex;

        .image {
            width: 20%;
        }
    }
}

.content {
    height: 88vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .left-container {
        height: 100%;
        flex: 1;
    }
    
    .right-container {
        height: 100%;
        flex: 1;
        padding: 50px;
       
        .p-fieldset {
            background: rgba(255, 255, 255, 0.20);
            color: white;
        }

        .right-content {
            margin-top: 5%;
                
            .info-card {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                /* width: 40%; */
                align-items: center;
        
                .label-content {
                    margin-bottom: 50px;
                }
        
                .select-content {
                    margin-bottom: 20px;
                    width: 70%;
        
                    .select{
                        width: 70%;
                    }
            
                    .p-dropdown {
                        width: 100%;
                        background: rgba(255, 255, 255, 0.20);
                        width: 100%;
                        height: 50px;
                        border-radius: 26px;
                        border: none;
            
                        .p-dropdown-label {
                            color: white;
                        }
                    }
                }
            }
        
        
            .button-container {
                display: flex;
                flex-direction: column;
                width: 40%;
                align-items: center;
                margin-top: 50px;
            }
        }
    }
}