@keyframes circle-in-hesitate {
    0% {
      clip-path: circle(0%);
    }
    40% {
      clip-path: circle(40%);
    }
    100% {
      clip-path: circle(125%);
    }
}
  
[transition-style="in:circle:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; /* Establece la altura al 100% de la ventana */
    
    .logo {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .form {
        color: white;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        /* margin-bottom: 80px; */

        .select{
            width: 70%;
        }

        .p-multiselect{
            background: rgba(255, 255, 255, 0.20);
            width: 100%;
            height: 50px;
            border-radius: 26px;
        }

        .p-multiselect.p-multiselect-chip .p-multiselect-token {
            margin-right: 8px;
            color: var(--purple-500, #9E86FF);
        }

        .p-multiselect.p-multiselect-chip .p-multiselect-label{
            color: white;
        }

        .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
            color: var(--purple-500, #9E86FF);
            background: #EFF6FF;
        }

        .p-checkbox .p-checkbox-box.p-highlight {
            border-color: var(--purple-500, #9E86FF);
            background: var(--purple-500, #9E86FF);
        }
    }
    
    .button-container {
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        margin-top: 80px;
    }
}

  
