<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<div class="header">
    <button class="icon-button" (click)="goToBack()">
        <i class="pi pi-angle-left icon"></i>
    </button>      
</div>
<div class="content">
    <div class="container">
        <div class="left-container">
            <img class="image" src="https://via.placeholder.com/165x165" />
        </div>
        <div class="right-container">
            <div class="right-content">
                <div class="logo">
                    <img class="image" src="../../../assets/img/movie_mood_logo.png">
                </div>
                <form [formGroup]="favoriteMoviesForm" class="form" (ngSubmit)="next()">
                    <!-- <div> -->
                    <div class="label-content">
                        <label class="label">¿Cuáles son tus películas favoritas?</label>
                    </div>

                    <input class="input" type="text" formControlName="movie1">
                    <input class="input" type="text" formControlName="movie2">
                    <input class="input" type="text" formControlName="movie3">
                    
                    <!-- <div class="select-content">
                        <p-dropdown class="select" formControlName="movie1" [options]="movies" optionLabel="name"></p-dropdown>
                    </div>
                    <div class="select-content">
                        <p-dropdown class="select" formControlName="movie2" [options]="movies" optionLabel="name"></p-dropdown>
                    </div>
                    <div class="select-content">
                        <p-dropdown class="select" formControlName="movie3" [options]="movies" optionLabel="name"></p-dropdown>
                    </div> -->
                
                    <!-- </div> -->
                    <div class="button-container">
                        <button class="button" type="submit">
                            <div class="button-label">Recomendar</div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>